<%#  < % = people.join(", "); %>
<%# This is the template for the verification email%>
<style type="text/css" media="screen"> 
    .lbl { 
        color: grey; 
        padding: 10px;
        border: 1px solid #aaf;
    }
    .val{ 
        color: black; 
        padding: 10px;
        border: 1px solid #aaf;
    }
    .tbl {
        border-collapse: collapse;
    }
</style> 
<%
    let RentLink = `${WebsiteUrl}/rent/${resObj.RentId}`;
%>
<div style="overflow-x:auto;">
<table class="tbl">
<tr><td class="lbl">Reserved Item:</td> <td class="val" colspan="3"><a target="_blank" href="<%= RentLink; %>"><%= RentLink; %></a></td></tr>
<tr><td class="lbl">Period Type:</td> <td class="val" colspan="3"><%= RentPeriodName; %></td></tr>
<tr><td class="lbl">Reserved Periods:</td><td class="val" colspan="3"><%= resObj.ReservedPeriods; %></td> </tr>
<tr><td class="lbl">Period Price:</td> <td class="val" colspan="3"><%= resObj.PeriodPrice; %></td></tr>

<tr><td class="lbl">From:</td><td class="val"><%= resObj.DTFROM.toDateString(); %></td> <td class="lbl">Time:</td><td class="val"><%= resObj.DTFROM.toTimeString(); %></td> </tr>
<tr><td class="lbl">To:</td>  <td class="val"><%= resObj.DTTO.toDateString(); %>  </td> <td class="lbl">Time:</td><td class="val"><%= resObj.DTTO.toTimeString(); %></td> </tr>

<tr><td class="lbl">Made On:</td><td class="val"><%= resObj.MadeOn.toDateString(); %></td><td class="lbl">Time:</td><td class="val"><%= resObj.MadeOn.toTimeString(); %></td> </tr>
<%#<tr>ReservationFee: < % = resObj.ReservationFee; % ></tr>%>
<tr><td class="lbl">View Reservation Online:</td> <td class="val" colspan="3"> <a target="_blank" href="<%= LinkUrl; %>"><%= LinkUrl; %></a> </td></tr>
</table>
</div>


