<%#  < % = people.join(", "); %>
<%# This is the template for the verification email%>
Dear <%=user.FirstName %>,<br/>
<br/>
You have just received a new chat message:<br/>
<br/>
<b>"<%= Msg; %>"</b><br/>
<br/>
Please click the link below to reply:<br/>
<br/>
<a target="_blank" href="<%= LinkUrl; %>"><%= LinkUrl; %></a><br/>
<%- include("./footer." + user.PrefUICulture + ".ejs",{WebsiteUrl:WebsiteUrl}); -%>
